.profileLink {
    text-decoration: none;
}

#heading{
    text-align: center;
    margin-left: 16rem;
    align-items: center;
    color:black ;
      
    
    
}

#stack{
    margin-right: 2rem;
    display: flex;
}


